.loginForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
}

.loginForm input {
    height: 25px;
    margin: 10px;
    border-color: aquamarine;
    border-width: 1px;
}

.loginForm button {
    border-radius: 10px;
    border-color: aquamarine;
    border-width: 1px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

button{
    width: 30%;
    margin-top: 10px;
    transition: all 0.4s ease;
}

button:hover{
    transform: scale(1.06);
}
.formInput {
    transition: all 0.7s ease;
}

.formInput.active {
    transform: scale(1.20);
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 0 15px 5px rgba(0, 123, 255, 0.3);
}

